<h3>Organic Products</h3>
  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">item 1</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">item 2</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">item 3</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">item 4</h6>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>




<h3>Tools and Machinery</h3>


  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">item 1</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">item 2</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">item 3</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">item 4</h6>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>













<h3>Assistance</h3>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">Assistant</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">Assistant</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">Assistant</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">Assistant</h6>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>
